## scrape the stated Wikipedia page to create dataframe

In [6]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/dd/ba/a0e6866057fc0bbd17192925c1d63a3b85cf522965de9bc02364d08e5b84/lxml-4.5.0-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 4.8MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## build the code to scrape the following Wikipedia page, https://en.wikipedia.org

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
Canada_data = BeautifulSoup(source, 'lxml')

## table of postal codes and to transform the data into a pandas dataframe

In [3]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

# loop through to find postcode, borough, neighborhood 
content = Canada_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head(10)

  Postalcode         Borough                                     Neighborhood
0      M1A\n  Not assigned\n
1      M1B\n   Scarborough\n                                   Malvern, Rouge
2      M1C\n   Scarborough\n           Rouge Hill, Port Union, Highland Creek
3      M1E\n   Scarborough\n                Guildwood, Morningside, West Hill
4      M1G\n   Scarborough\n                                           Woburn
5      M1H\n   Scarborough\n                                        Cedarbrae
6      M1J\n   Scarborough\n                              Scarborough Village
7      M1K\n   Scarborough\n      Kennedy Park, Ionview, East Birchmount Park
8      M1L\n   Scarborough\n                  Golden Mile, Clairlea, Oakridge
9      M1M\n   Scarborough\n  Cliffside, Cliffcrest, Scarborough Village West

## Data Cleaning
### From DF, remove the rows having None in df

### Remove row having 'Not assigned' value

### Replace 'Not assigned' with 'NaN' using numpy

In [8]:
df = df.dropna()
empty = 'Not assigned\n'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]

In [9]:
df.head()

  Postalcode        Borough                            Neighborhood
1      M1B\n  Scarborough\n                          Malvern, Rouge
2      M1C\n  Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n  Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n  Scarborough\n                                  Woburn
5      M1H\n  Scarborough\n                               Cedarbrae

In [13]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [14]:
print(df2.shape)
df2.head()

(103, 3)

  Postalcode        Borough                            Neighborhood
0      M1B\n  Scarborough\n                          Malvern, Rouge
1      M1C\n  Scarborough\n  Rouge Hill, Port Union, Highland Creek
2      M1E\n  Scarborough\n       Guildwood, Morningside, West Hill
3      M1G\n  Scarborough\n                                  Woburn
4      M1H\n  Scarborough\n                               Cedarbrae